{% extends "base.html" %}
{% block content %}
        <h1>
            Player 1 Make Your Choice
        </h1>
    <section id = "image_container">
        <div id="image">
            <b>Rock</b>
            <img src = "/static/images/rockhand.png">
        </div>
        <div id="image">
            <b>Paper</b>
            <img src = "/static/images/paperplane.png">
        </div>
        <div id="image">
            <b>Scissors</b>
            <img src = "/static/images/scissors2.png">
        </div>
    </section>
    <section>
            <form class = "selection" action="/choice" method="post">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder = "Name">
                <select name="choice"> <br>
                    <option value="" disabled selected hidden>Let me pick!</option>
                    <option id = choice1 value="Rock">Rock</option>
                    <option id = choice2 value="Paper">Paper</option>
                    <option id = choice3 value="Scissors">Scissors</option>
                    <input type="submit" value="Battle!">         
                    </select>
            </form>
    </section>
{% endblock %}