{% extends "base.html" %}
{% block content %}
        <h1>Rules</h1>
    </header>
    <div id = home>
        <p>
        The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:
        </p>
        <ul>
            <li>
                Rock wins against scissors.
            </li>
            <li>
                Scissors win against paper.
            </li>
            <li>
                Paper wins against rock.
            </li>
        </ul>
    </div>
    <div id = "playbutton">
    <a href="http://127.0.0.1:4999/choice"> PLAY</a>
    </div>
{% endblock %}
